$primary-color: #333;

html, body{
  background:#339900;
}
#oppHandCont{
  text-align:center;
}
#communityCont{
  float:right;
  .col-md-2{
    margin-right:10px;
  }
}
#yourHandCont{
  text-align:center;
}
#actionsCont{
  text-align:center;
}
span{
  display:block;
}
.col-md-8{
	.row{
	  margin-bottom:100px;
	}
}
header{
  height:70px;
  border-bottom:1px solid gray;
  margin:0 0 0;
  background-color:#fff;
 
  #desc{
    font-size:45px;
  }
}
.card{
  border:1px solid black;
  width:120px;
  height:160px;
  text-align:center;
  padding:5px;
  margin:10px;
  color:#cc0033;
  background-color:#fff;
  box-shadow:5px 5px 5px #505050;
  border-radius:5px;
  
  .back{
	content:url("../images/card-back2.jpg");
	margin:-5px 0 0 -5px;
  }
}
.top{
  text-align:left;
}
.bottom{
  text-align:right;
}
