@font-face {
  font-family: otto;
  src: url("../fonts/Otto.ttf"); }
html, body {
  background: #339900;
  width: 100%; }

#communityCont {
 }

#actionsCont {
  text-align: center; }

span {
  display: block; }

.menu {
  float: right;
  font-size: 18px;
  margin: -35px 5px 0px 0px;
  font-weight: bold; }
  .menu span {
    color: #fff;
    cursor: pointer;
    display: inline;
    margin-left: 20px; }
    .menu span:hover {
      color: #64a2f4; }

header {
  background-color: #1A2125; }

#header-cont{
  margin:0px 10px;
}

#phase {
  float:left;
  font-size: 18px;
  margin: 10px 0px;
  font-weight: bold;
  color: #fff; }

#site-title {
  font-family: otto;
  color: #F1F1F1;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  height: 45px;
  }

.cardSize {
  width:8%;
  float:left;

}

.card {
  border: 1px solid black;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 5px;
  color: #cc0033;
  background-color: #fff;
  box-shadow: 5px 5px 5px #505050;
  border-radius: 5px;
  cursor: default;
  font-size:10px; }
  .card .back {
    content: url("../images/card-back2.jpg");
    margin: -5px 0 0 -5px; }

h3 {
    margin: 10px 0px 5px; }

.thirds {
  height: 33%;
  padding: 10px 20px 50px; }

#deck {
  margin: 20px; }

#cardCount {
  display: inline; }

#leftPanel {
  background-color: #FFFFFF;
  color: #333; }

#actionsPanel {
  margin-bottom: 20px;
  height: 405px; }

#actionsHeader {
  background-color: #F1F1F1;
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
  padding: 5px;
  color: #878787; }

#mathPanel {
  background-color: #f0faff;
  border-top: 1px solid #c5dfea;
  border-bottom: 1px solid #c5dfea; }

#mathHeader {
  font-size: 18px;
  color: #878787;
  top: -1em;
  left: -.65em;
  text-align: center;
  position: relative; }

#mathHeaderText {
  display: inline-block;
  border: 1px solid #929292;
  padding: 3px 7px;
  background-color: #fff; }
